.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    list-style: none;
    width: 80%;
    margin: auto;
    height: 20vh;
}
.nav > a {
    width: 30%;
    font-size: x-large;
    border-right: groove;
    cursor: pointer;
    text-decoration-line : none;
    color: #282c34;
}
